.ewd-admin-small-input {
 width: auto !important;
}
.ewd-admin-regular-text {
  width:25em !important;
}
.ewd-admin-large-text {
  width:40em !important;
	height:10em;
}

.OptionTab {
	padding:15px;
}
.HiddenTab {
  display:none;
}

.Row {
  margin-bottom:25px;
	min-height:100px;
}
a {
  cursor:pointer;
}

.ewd-admin-select-search {
	vertical-align:baseline !important;
}
