.ewd-feup-field-label {
  
}
.ewd-feup-text-input {
  
}
.ewd-feup-submit {

}
.ewd-feup-textarea {
  
}
.ewd-feup-select {
  
}
.ewd-feup-radio {
  
}
.ewd-feup-checkbox {
  
}
.ewd-feup-error {
  
}
.ewd-feup-user-data {
  
}
.ewd-feup-clear {
  
}
.ewd-feup-negative-top {
  margin-top:-.3em;
}
